.header-background {
    background-image: url('../images/beach_compressed.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
}

.breadcrumb-item a {
    color: #ffffff;
}

.breadcrumb-item.active {
    color: #ffffff;
}

.navbar {
    background-color: #ffffff; 
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: #000000; 
    text-decoration: none;
}

.navbar a:hover {
    color: #000000; 
}

.navbar .disabled {
    color: #cccccc; 
}